body, div, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

html, body {
    height: 100%;
    width: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
}

main {
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    background-color: #00acac;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
}

.left {
    margin-left: 20px;
}

.left span {
    margin-right: 10px;
}

.github_link {
    transition: .5s;
}

.github_link:hover {
    color: #72a8d8;
    cursor: pointer;

}

.right {
    margin-right: 20px;
}

.rolling_link {
    display: block;
    background-image: url(image/rs_school_js.svg);
    filter: invert(46%) sepia(16%) saturate(6392%) hue-rotate(149deg) brightness(97%) contrast(100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 66px;
    transition: .5s;
}

.rolling_link:hover {
    filter: invert(100%) sepia(6%) saturate(23%) hue-rotate(96deg) brightness(104%) contrast(107%);
}